:root {
    color: #213547;
    background-color: white;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  }

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    /* width: 100%; */
    position: relative;
}

/* Typography */

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

/* .read-the-docs {
  color: #888;
} */