@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 2rem;
    width: 100%;
    z-index: 1000;
}
.burger-menu{
    font-size: 2rem;
    display: block;
}
.menu{
    display: none;
}

.menu ul{
    display: flex;
    gap: 50px;
    list-style-type: circle;
}

.menu ul .menu-item{
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: all .2s ease;
    font-family: "Nanum Pen Script", cursive;
    font-style: normal;
}

.menu ul .menu-item:hover{
    transform: scale(1.1);
}

.cart{
    margin-right: 1rem;
    height: 50px;
    width: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease;
}

.cart:hover{
    transform: scale(1.1);
}

.cart .items-count{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.1rem;
    font-weight: 600;

}

.active{
    border-bottom: 3px solid #008066;
}

/* Responsive */

@media screen and (min-width: 814px) {
    .menu{
        display: block;
    }
    .burger-menu{
        display: none;
    }
}